* {
  box-sizing: border-box;
}
#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
#quote-box > p {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
#author {
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem;
}
#new-quote {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #666;
  cursor: pointer;
}
#tweet-quote {
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  color: #666;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#text {
  font-size: 2rem;
  text-align: center;
  margin: 0;
}
#twitter-logo {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem;
}
